body {
    font-family: 'Inter', serif;
}

body:before {
    content: '';
    background-image: url("../img/SA706127.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 18%;
    z-index: -1;
}

.logo-small {
    width: 2rem;
}

img {
    width: 80%;
}
